html{
    font-family: 'Times New Roman', Times, serif;
}
body{
    margin-left: 25%;
    margin-right: 25%;
    font-family: 'Times New Roman', Times, serif;
}
table{
    border: 1px solid black;
}
h2{
    background-color: #373741 ;
    color: #e1d8cf;
    padding: 15px;
}
footer{
    background-color: #373741;
    text-align: center;
    color: #e1d8cf;
    padding: 5px;
}
p{
    margin-top: 35px;

}
b{
    color:#373741 ;
}
ul li{
    list-style-type: none;
    display: inline;
    padding: 40px;
    text-align: center;


}
nav{
    color:#373741 ;
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    padding: 5px;
    padding-top: 15px;

}




@media screen and (max-width: 1700px) {
    body{
        margin-left: 0%;
        margin-right: 0%;
    }
    ul li{
        list-style-type: none;

        padding: 40px;
        text-align: center;
    }
}
@media screen and (max-width: 750px) {
    ul li{
        list-style-type: none;
        display: contents;

        text-align: center;
    }
    .foto{
        width: 150px;
    }
}