#wrapper{
    width: 95%;
    margin-right: auto;
    margin-left: auto;
}
body {
    font: 1.2em verdana, helvetica, arial, sans-serif;

}
footer{
    font-size: 50%;
    text-align: center;
}
header{
    padding-bottom: 20px;
    text-align: center;
}

h1, h2 {
    color: #007e7e;
    font-weight: bold;
    font-size: 150%;
}
h2{
    font-size: 135%;
}


a:link{
    color: #007e7e;
}

#definition {
    border: 1px dashed white;
    background-color: #a7cece;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: italic;
    line-height: 1.9em;
    color: #444444;
    margin: 30px;
    padding: 10px 15px ;
    background-image: url('/images/star.gif');
    background-repeat: no-repeat;
    padding-left: 80px;

}

#weekly-specials h1{
    color: black;
}
#weekly-specials h2{
    color: #d12c47;
}
#weekly-specials{
    width: 30%;
    float: right;
    box-sizing: border-box;
    border: 2px solid #007e7e;
    text-align: center;
    padding-top: 25px;
    line-height: 1;
    background-image: url("../images/glasses.gif");
    background-repeat: repeat-x;
}

#textwrapper{
    box-sizing: border-box;
    float: left;
    width: 70%;
    padding-right: 5%;
}

.cd{
    font-style: italic;
}
.artist{
    font-weight: bold;
}

footer{
    clear: both;
}