body{
    background-color: lightgray;
    font: 1.25em sans-serif;
    margin: 0px;
}

article{
    border: 1px solid black;
    padding: 10px;
    min-height: 280px;
    margin: 0 10px 10px;
}

article:nth-child(even) img{
    float: right;
}

article:nth-child(oneven) img{
    float: left;
}