body{
    font-size: 3em;
}
table{
    border: solid 2px black;
    border-collapse: collapse;
}
th{
    background-color: dodgerblue;
    border: none;
    padding: 5px;
}
.dagen{
    color: dodgerblue;
    background-color: darkblue;
}
td{
    border: 2px dotted black;
}
.child :first-child{
    background-color: red;
}
.child :last-child{
    background-color: red;
}

.maand{
    background-color: gray !important;
}

.special{
    background-color: coral;
}

.underline{
    text-decoration: underline;
    color: darkblue;
}