li{
    background: url("../img/favicon2-16x16.png") no-repeat left center;
    padding-left: 20px;
}
.checked{
    background: url("../img/favicon-16x16.png") no-repeat left center;
    padding-left: 20px;
}