.container{
    display: grid;
    grid-gap: 20px;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto auto auto auto;
}

.container .block{
    padding:20px;
    color: white;
    font-size: 4em;
    font-weight:bold;
    text-align:center;
}

.block.block1{
    grid-column: 1/4;
    background-color: #EF233C;
 }
.block.block2{
    grid-row: 2/4;
    background-color: salmon;
}
.block.block3{
    grid-column: 2/4;
    background-color: pink;
}
.block.block4{
    grid-column: 2/3;
    grid-row: 3/4;
    background-color: orange;
}
.block.block5{
    grid-column: 3/4;
    grid-row: 3/4;
    background-color: blue;
}
.block.block6{
grid-column: 1/3;
    background-color: tomato;
}
.block.block7{
    grid-column: 3/4;
    background-color: cyan;
}
.block.block8{
    grid-column: 1/4;
    background-color: #EF233C;
}
